//-- Brand Colors

$interval       : 10%;

$brand-red      : #ff0c0c;
$brand-blue     : #141cff;

$palettes: (
    'red': (
        base : $brand-red,
        light: lighten($brand-red, $interval),
        dark : darken($brand-red, $interval)
    ),
    'blue': (
        base : $brand-blue,
        light: lighten($brand-blue, $interval),
        dark : darken($brand-blue, $interval)
    )
);

//-- Usage example -- "background-color: palette(red, light);"